/*.proditem {*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    display: flex;*/
/*    margin-top: 20px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.prodimage img {
    width: 100%;
    height: 100%;
    object-fit: fit;
}

.prodimage {
    width: 15%;
    height: 100%;
}

.nav {
    background-color: aqua;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(205, 203, 203);
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.formular {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: bisque;
}

.formular input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*body{*/
/*    background-color: white;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    background-color: rgb(216, 241, 161);*/
/*    flex-direction: column;*/
/*}*/
.productdetail {
    width: 100%;
    height: 10%;
    display: flex;
    background-color: rgb(165, 112, 112);
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    width: 100%;

    background-color: rgb(216, 241, 161);
    flex-direction: column;
    margin-top: 30px;


}
body {
    display: flex;


    flex-direction: column;
}


